$white: #fff;

$blue-light: #73c0ea;

$blue: #499ed7;

$bluex: #02a4f8;

$blue-dark: #11294a;

$blue-exdark: #0f1a2f;

$green: #a8cf45;

$gray: #878787;

$gray-dark: #4b4b4b;

$gray-exdark: #252a2c;

$gray-light: #f1f1f1;

$gray-lightx: #595959;

$gray-brown: #a29a98;

$orange: #f89345;

$purple: #607dbc;

$magenta: #8f4a80;