$OpenSans: OpenSans, Arial, Helvetica, sans-serif;

$MyriadPro: MyriadPro, OpenSans, Arial, Helvetica, sans-serif;

$MyriadPro-Light: MyriadPro-Light, OpenSans, Arial, Helvetica, sans-serif;

$MyriadPro-Bold: MyriadPro-Bold, OpenSans, Arial, Helvetica, sans-serif;

$Raleway: Raleway, OpenSans, Arial, Helvetica, sans-serif;

$Raleway-Medium: Raleway-Medium, OpenSans, Arial, Helvetica, sans-serif;

$Raleway-Bold: Raleway-Bold, OpenSans, Arial, Helvetica, sans-serif;
