/*      FOOTER      */

footer {

  .footer-wrapper {
    height: 55px;

    span {
      font-family: Raleway, OpenSans, Arial, Helvetica, sans-serif;
      font-size: 14pt;
      line-height: 2;
    }

    .footer-logo {

      .img-logo {
        max-height: 35px;
      }

    }

  }

}

/*      /FOOTER      */