/*      HEADER      */

/* Home Banner */

#banner {

  .banner-menu {
    max-width: 250px;
    background: rgba(17, 41, 74, 0.80);
    z-index: 99;

    .banner-menu-wrapper {
      z-index: 999;

      .banner-menu-main {

        .navbar-toggler {
          z-index: 999;
          top: -120px;
          left: 20px;
        }

        .navbar-nav {

          li {

            &.nav-item {
              width: 100%;
              font-family: $font-myriad-bold;
              border-bottom: 1px solid $blue;

              .nav-link {
                width: 100%;
                color: white;
                height: 100%;
                min-height: 50px;
                max-height: 50px;
                border-left: 3px solid transparent;

                .nav-icon {
                  color: $blue;
                  min-width: 2.5rem;
                }

              }

              &.active, &:hover, &:focus, &:active {

                .nav-link {
                  border-left: 3px solid $green;
                  color: $green;

                  .nav-icon {
                    color: $green;
                  }

                }

              }

            }

          }

        }

      }

      .banner-menu-social {

        .menu-social-bar {

          li {

            a {
              color: $purple;

              &:hover, &:focus, &:active {
                color: $green;
              }

            }

          }

        }

      }

    }

  }

  .carousel {

    .carousel-indicators {
      position: absolute;
      bottom: 160px;
      left: 250px;
      right: 0;

      li {

        &.active {
          background-color: $blue;
          background-clip: padding-box;
        }

      }

    }

    .carousel-item {
      height: 100vh;
      min-height: 350px;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      //&::before {
      //  content: '';
      //  width: 100%;
      //  height: 100%;
      //  top: 0;
      //  left: 0;
      //  position: absolute;
      //  background: rgba(17, 41, 74,0.4);
      //}

      .carousel-caption {
        position: unset;
        margin-left: 250px;
        top: unset;
        right: unset;
        bottom: unset;
        left: unset;

        .head {
          font-family: $font-raleway-bold;
          font-size: 3.0rem;
        }

        .lead {
          font-family: $font-myriad-light;
          font-weight: bold;
          max-width: 640px;
          letter-spacing: 1px;
        }

      }

    }

    .next-section {
      position: absolute;
      bottom: 75px;
      left: 250px;
      right: 0;
      z-index: 999;
    }

  }

}

/* /Home Banner */

/*      /HEADER      */
