/*      MAIN      */

.inquiry-form-heading, .welcome-heading, .contact-form-query .heading {
  font-family: $font-raleway-bold;
}

.contact-form-query .subHeading {
  font-family: $font-raleway-medium;
}


/* Inquiry Form */

.inquiry-form {
  padding-top: 80px;
  padding-bottom: 100px;

  .inquiry-form-inner {

    form {

      input, textarea, button {
        font-family: $font-raleway-medium;
      }

    }

  }

  .contact-form-query {

  }

  &::after {
    background-image: url("../../images/welcome-decor.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    content: '';
    z-index: 10;
    bottom: -40%;
    left: -25%;
    width: 50%;
    height: 50%;
  }

}

/* /Inquiry Form */


/* Welcome Section */

.welcome-section {
  background: $blue-dark url("../../images/bg-welcome.jpg") no-repeat -175px 45%  /cover;
  padding-top: 80px;
  padding-bottom: 120px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, rgba(17, 41, 74, 1), rgba(17, 41, 74, 1), rgba(17, 41, 74, 0.9), rgba(17, 41, 74, 0.8), rgba(17, 41, 74, 0.85), rgba(17, 41, 74, 0.9));
  }

  .img-fixed {
    z-index: 0;
    top: -80px;

    img {
      max-height: 400px;
    }
  }

  .img-fixed1 {
    z-index: 0;
    top: 12%;
    left: -30px;

    img {
      max-height: 375px;
    }
  }

  .img-fixed2 {
    z-index: 0;
    bottom: -45px;
    right: -35px;

    img {
      max-height: 375px;
    }
  }

  .welcome-inner {

    .welcome-heading {
      color: $blue;
    }

    p {
      font-family: $font-raleway;
    }

  }

  .doubleBackImage {

    &::before, &::after {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &::before {
      background-image: url("../../images/rectangle1.png");
      width: 85%;
      height: 85%;
      top: 5%;
      left: 0;
    }

    &::after {
      background-image: url("../../images/rectangle2.png");
      width: 85%;
      height: 85%;
      right: -7.5%;
      bottom: -5%;
    }

    .misarranged {
      top: -150px;
      color: $gray;
      padding-top: 120px;
      padding-bottom: 100px;
      z-index: 1;

      p {
        font-family: $font-myriad-light;
      }

    }

  }

}

/* /Welcome Section */

/* How Work Section */

.how-work-section {
  padding-top: 80px;
  padding-bottom: 50px;

  .how-work-inner-2 {
    padding-top: 200px;
  }

  .how-work-inner-4 {
    padding-top: 230px;
  }

  .how-work-inner-middle-wrap {

    &::before {
      background-image: url("../../images/counter.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      position: absolute;
      content: '';
      z-index: 1;
      width: 150%;
      height: 100%;
      top: -10%;
    }

    .how-work-inner-middle {
      z-index: 10;
      position: relative;
      top: -10%;
    }
  }

}

/* /How Work Section */

/* Services Section */

.services-section {
  padding-bottom: 50px;

  .carousel {
    max-height: 500px;

    .carousel-item {

      .carousel-image {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
      }

      .carousel-caption {
        top: unset;
        right: unset;
        bottom: unset;
        left: unset;

        .service-logo {
          width: 100px;
          height: 100px;
        }

      }

    }

    .carousel-controls {
      z-index: 10;
      bottom: 53.5%;
      left: 39.25%;
      width: 90px;

      .carousel-control {
        background: $blue;
        width: 40px;
        height: 40px;
        opacity: 1;

        .carousel-control-icon {
          width: 25px;
          height: 25px;
        }

      }

    }

  }

}


/* /Services Section */

/* Featured Section */

.featured-section {
  background: $blue-dark url("../../images/bg-welcome.jpg") no-repeat center /cover;
  padding-top: 100px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(17, 41, 74, 1), rgba(17, 41, 74, 1), rgba(17, 41, 74, 0.9), rgba(17, 41, 74, 0.8), rgba(17, 41, 74, 0.85), rgba(17, 41, 74, 0.9));
  }

  .featured-main-heading {
    font-family: $font-raleway-bold;
  }

  .featured-colored {
    background: $gray-light;
  }

  .featured-inner {
    padding-top: 60px;
    padding-bottom: 50px;

    .featured-sub-heading {
      font-family: $font-raleway-bold;
      color: $gray-exdark;
    }

    p {
      font-family: $font-raleway;
    }

  }

}

/* /Featured Section */

/*      /MAIN      */
