/*      MAIN      */

.inquiry-form-heading, .welcome-heading, .contact-form-query .heading {
  font-family: $Raleway-Bold;
}

.contact-form-query .subHeading {
  font-family: $Raleway-Medium;
}


/* Inquiry Form */
.inquiry-form {
  padding-top: 80px;
  padding-bottom: 100px;

  .inquiry-form-inner {

    form {

      input, textarea, button {
        font-family: $Raleway-Medium;
        font-size: 1.125rem;
      }

      input, textarea {
        border-radius: 0 !important;
      }

    }

  }

  .contact-form-query {

  }

}

/* /Inquiry Form */


/* Welcome Section */

.welcome-section {
  background: $blue-dark url("../../images/bg-welcome.jpg") no-repeat center /cover;
  padding-top: 80px;
  padding-bottom: 120px;

  .img-fixed {
    z-index: 0;
    top: -80px;

    img {
      max-height: 400px;
    }
  }

  .welcome-inner {

    .welcome-heading {
      font-size: 2.25rem;
      color: $blue;
    }

    p {
      font-family: $Raleway;
      font-size: 1.3rem;
    }
  }

  .misarranged {
    top: -150px;
    color: $gray;
    padding-top: 130px;
    padding-bottom: 130px;
    border-radius: 2px;

    .img-fixed {

    }
    p {
      font-family: $MyriadPro-Light;
      font-size: 1.3rem;
    }

  }

}

/* /Welcome Section */

/*      /MAIN      */
