/* DESKTOP FIRST MEDIA QUERIES */

/* Large devices (desktops, less than 1200px)*/
@media screen and (max-width: 1199.98px) {
}

/* Custom Media Query (desktops, less than 1024px)*/
@media screen and (max-width: 1023.98px) {
}

/* Medium devices (tablets, less than 992px)*/
@media screen and (max-width: 991.98px) {

  .section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #banner {

    .banner-menu {
      left: -250px;
      transition: left 0.5s ease-in-out 0.05s;

      .banner-menu-wrapper {

        .banner-menu-main {

          .navbar-toggler {
            z-index: 999;
            top: -100px;
            left: 270px;
          }

          .navbar-collapse {
            display: block;
          }

        }

      }

      &.open-toggle {
        left: 0;
        transition: left 0.5s ease-in-out 0.05s;
      }

    }

    .carousel {

      .carousel-item {

        .carousel-caption {
          margin-left: 0;
        }

      }

      .carousel-indicators {
        left: 0;
      }

      .next-section {
        left: 49%;
      }

    }

  }

  .how-work-section {

    .how-work-inner-middle-wrap {

      &::before {
        width: 200%;
      }

    }

  }

}

/* Small devices (landscape phones, less than 768px)*/
@media screen and (max-width: 767.98px) {

  .inquiry-form::after {
    bottom: -45%;
    left: -40%;
    width: 65%;
    height: 50%;
  }

  .welcome-section {
    background-position: center;

    .doubleBackImage .misarranged {
      top: unset;
    }

    .doubleBackImage::before,
    .doubleBackImage::after {
      width: 75%;
      height: 75%;
    }

    .doubleBackImage::before {
      top: 15%;
      left: -10%;
    }

    .doubleBackImage::after {
      right: -7.5%;
      bottom: -5%;
    }

  }

  .services-section {

    .carousel {
      max-height: unset;

      .carousel-item {

        .carousel-image {
          min-height: 500px;
        }

      }

      .carousel-controls {
        bottom: 45%;
        left: 45%;
      }

    }

  }

  .how-work-section {

    .how-work-inner-2 {
      padding-top: 30px;
    }

    .how-work-inner-4 {
      padding-top: 30px;
    }

    .how-work-inner-middle-wrap {

      &::before {
        width: 125%;
        height: 160%;
        top: -155%;
        left: -14%;
      }

      .how-work-inner-middle {
        position: unset;
        top: unset;
      }

    }

  }
  .featured-section {
    padding-top: 30px;
  }

  footer {

    .footer-wrapper {
      height: auto;
    }

  }

}

/* Extra small devices (portrait phones, less than 576px)*/
@media screen and (max-width: 575.98px) {

  .inquiry-form::after {
    width: 0;
    height: 0;
    background: unset;
  }

  .welcome-section {
    background-position: center;

    .doubleBackImage .misarranged {
      top: unset;
      padding-top: 70px;
      padding-bottom: 50px;
    }

    .inquiry-form::after,
    .doubleBackImage::before,
    .doubleBackImage::after {
      width: 0;
      height: 0;
      background: unset;
    }

  }

}

/* Customized Media Queries (phones, less than 400px) */

/* Extra small devices (portrait phones, less than 400px)*/
@media screen and (max-width: 400px) {
}

@media screen and (max-width: 320px) {
}

/* Customized Media Queries (phones, less than 400px) */

/* /DESKTOP FIRST MEDIA QUERIES */


/**/


/* MOBILE FIRST MEDIA QUERIES */

/* Small devices (landscape phones, 576px and up)*/
@media screen and (min-width: 576px) {

  //Font Size Start

  @for $i from 0 through 50 {

    .font-size-sm-#{$i} {
      font-size: #{$i/12}rem !important;
    }

  }

  //Font Size End

  //Margin Start

  @for $i from 0 through 6 {

    .m-sm-n#{$i} {
      margin: -#{$i/4}rem !important;
    }

    .mx-sm-n#{$i} {
      margin-left: -#{$i/4}rem !important;
      margin-right: -#{$i/4}rem !important;
    }

    .my-sm-n#{$i} {
      margin-top: -#{$i/4}rem !important;
      margin-bottom: -#{$i/4}rem !important;
    }

    .mt-sm-n#{$i} {
      margin-top: -#{$i/4}rem !important;
    }

    .mr-sm-n#{$i} {
      margin-right: -#{$i/4}rem !important;
    }

    .mb-sm-n#{$i} {
      margin-bottom: -#{$i/4}rem !important;
    }

    .ml-sm-n#{$i} {
      margin-left: -#{$i/4}rem !important;
    }

  }

  //Margin End

  .w-sm-5 {
    width: 5% !important;
  }

  .w-sm-10 {
    width: 10% !important;
  }

  .w-sm-15 {
    width: 15% !important;
  }

  .w-sm-20 {
    width: 20% !important;
  }

  .w-sm-25 {
    width: 25% !important;
  }

  .w-sm-30 {
    width: 30% !important;
  }

  .w-sm-33 {
    width: 33% !important;
  }

  .w-sm-35 {
    width: 35% !important;
  }

  .w-sm-40 {
    width: 40% !important;
  }

  .w-sm-45 {
    width: 45% !important;
  }

  .w-sm-50 {
    width: 50% !important;
  }

  .w-sm-55 {
    width: 55% !important;
  }

  .w-sm-60 {
    width: 60% !important;
  }

  .w-sm-65 {
    width: 65% !important;
  }

  .w-sm-66 {
    width: 66% !important;
  }

  .w-sm-70 {
    width: 70% !important;
  }

  .w-sm-75 {
    width: 75% !important;
  }

  .w-sm-80 {
    width: 80% !important;
  }

  .w-sm-85 {
    width: 85% !important;
  }

  .w-sm-90 {
    width: 90% !important;
  }

  .w-sm-95 {
    width: 95% !important;
  }

  .w-sm-100 {
    width: 100% !important;
  }

  .w-sm-auto {
    width: auto !important;
  }

  .h-sm-25 {
    height: 25% !important;
  }

  .h-sm-50 {
    height: 50% !important;
  }

  .h-sm-75 {
    height: 75% !important;
  }

  .h-sm-100 {
    height: 100% !important;
  }

  .h-sm-auto {
    height: auto !important;
  }

  .overflow-sm-hidden {
    overflow: hidden !important;
  }

  .overflow-sm-x-hidden {
    overflow-x: hidden !important;
  }

  .overflow-sm-y-hidden {
    overflow-y: hidden !important;
  }

  .overflow-sm-visible {
    overflow: visible !important;
  }

  .overflow-sm-x-visible {
    overflow-x: visible !important;
  }

  .overflow-sm-y-visible {
    overflow-y: visible !important;
  }

  .overflow-sm-x-auto {
    overflow-x: auto !important;
  }

  .overflow-sm-y-auto {
    overflow-y: auto !important;
  }

  .position-sm-static {
    position: static !important;
  }

  .position-sm-relative {
    position: relative !important;
  }

  .position-sm-fixed {
    position: fixed !important;
  }

  .position-sm-absolute {
    position: absolute !important;
  }

  .position-sm-sticky {
    position: sticky !important;
  }

}

/* Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px) {

  //Font Size Start

  @for $i from 0 through 50 {

    .font-size-md-#{$i} {
      font-size: #{$i/12}rem !important;
    }

  }

  //Font Size End

  //Margin Start

  @for $i from 0 through 6 {

    .m-md-n#{$i} {
      margin: -#{$i/4}rem !important;
    }

    .mx-md-n#{$i} {
      margin-left: -#{$i/4}rem !important;
      margin-right: -#{$i/4}rem !important;
    }

    .my-md-n#{$i} {
      margin-top: -#{$i/4}rem !important;
      margin-bottom: -#{$i/4}rem !important;
    }

    .mt-md-n#{$i} {
      margin-top: -#{$i/4}rem !important;
    }

    .mr-md-n#{$i} {
      margin-right: -#{$i/4}rem !important;
    }

    .mb-md-n#{$i} {
      margin-bottom: -#{$i/4}rem !important;
    }

    .ml-md-n#{$i} {
      margin-left: -#{$i/4}rem !important;
    }

  }

  //Margin End

  .w-md-5 {
    width: 5% !important;
  }

  .w-md-10 {
    width: 10% !important;
  }

  .w-md-15 {
    width: 15% !important;
  }

  .w-md-20 {
    width: 20% !important;
  }

  .w-md-25 {
    width: 25% !important;
  }

  .w-md-30 {
    width: 30% !important;
  }

  .w-md-33 {
    width: 33% !important;
  }

  .w-md-35 {
    width: 35% !important;
  }

  .w-md-40 {
    width: 40% !important;
  }

  .w-md-45 {
    width: 45% !important;
  }

  .w-md-50 {
    width: 50% !important;
  }

  .w-md-55 {
    width: 55% !important;
  }

  .w-md-60 {
    width: 60% !important;
  }

  .w-md-65 {
    width: 65% !important;
  }

  .w-md-66 {
    width: 66% !important;
  }

  .w-md-70 {
    width: 70% !important;
  }

  .w-md-75 {
    width: 75% !important;
  }

  .w-md-80 {
    width: 80% !important;
  }

  .w-md-85 {
    width: 85% !important;
  }

  .w-md-90 {
    width: 90% !important;
  }

  .w-md-95 {
    width: 95% !important;
  }

  .w-md-100 {
    width: 100% !important;
  }

  .w-md-auto {
    width: auto !important;
  }

  .h-md-25 {
    height: 25% !important;
  }

  .h-md-50 {
    height: 50% !important;
  }

  .h-md-75 {
    height: 75% !important;
  }

  .h-md-100 {
    height: 100% !important;
  }

  .h-md-auto {
    height: auto !important;
  }

  .overflow-md-hidden {
    overflow: hidden !important;
  }

  .overflow-md-x-hidden {
    overflow-x: hidden !important;
  }

  .overflow-md-y-hidden {
    overflow-y: hidden !important;
  }

  .overflow-md-visible {
    overflow: visible !important;
  }

  .overflow-md-x-visible {
    overflow-x: visible !important;
  }

  .overflow-md-y-visible {
    overflow-y: visible !important;
  }

  .overflow-md-x-auto {
    overflow-x: auto !important;
  }

  .overflow-md-y-auto {
    overflow-y: auto !important;
  }

  .position-md-static {
    position: static !important;
  }

  .position-md-relative {
    position: relative !important;
  }

  .position-md-fixed {
    position: fixed !important;
  }

  .position-md-absolute {
    position: absolute !important;
  }

  .position-md-sticky {
    position: sticky !important;
  }

}

/* Large devices (desktops, 992px and up)*/
@media screen and (min-width: 992px) {

  //Font Size Start

  @for $i from 0 through 50 {

    .font-size-lg-#{$i} {
      font-size: #{$i/12}rem !important;
    }

  }

  //Font Size End

  //Margin Start

  @for $i from 0 through 6 {

    .m-lg-n#{$i} {
      margin: -#{$i/4}rem !important;
    }

    .mx-lg-n#{$i} {
      margin-left: -#{$i/4}rem !important;
      margin-right: -#{$i/4}rem !important;
    }

    .my-lg-n#{$i} {
      margin-top: -#{$i/4}rem !important;
      margin-bottom: -#{$i/4}rem !important;
    }

    .mt-lg-n#{$i} {
      margin-top: -#{$i/4}rem !important;
    }

    .mr-lg-n#{$i} {
      margin-right: -#{$i/4}rem !important;
    }

    .mb-lg-n#{$i} {
      margin-bottom: -#{$i/4}rem !important;
    }

    .ml-lg-n#{$i} {
      margin-left: -#{$i/4}rem !important;
    }

  }

  //Margin End

  .w-lg-5 {
    width: 5% !important;
  }

  .w-lg-10 {
    width: 10% !important;
  }

  .w-lg-15 {
    width: 15% !important;
  }

  .w-lg-20 {
    width: 20% !important;
  }

  .w-lg-25 {
    width: 25% !important;
  }

  .w-lg-30 {
    width: 30% !important;
  }

  .w-lg-33 {
    width: 33% !important;
  }

  .w-lg-35 {
    width: 35% !important;
  }

  .w-lg-40 {
    width: 40% !important;
  }

  .w-lg-45 {
    width: 45% !important;
  }

  .w-lg-50 {
    width: 50% !important;
  }

  .w-lg-55 {
    width: 55% !important;
  }

  .w-lg-60 {
    width: 60% !important;
  }

  .w-lg-65 {
    width: 65% !important;
  }

  .w-lg-66 {
    width: 66% !important;
  }

  .w-lg-70 {
    width: 70% !important;
  }

  .w-lg-75 {
    width: 75% !important;
  }

  .w-lg-80 {
    width: 80% !important;
  }

  .w-lg-85 {
    width: 85% !important;
  }

  .w-lg-90 {
    width: 90% !important;
  }

  .w-lg-95 {
    width: 95% !important;
  }

  .w-lg-100 {
    width: 100% !important;
  }

  .w-lg-auto {
    width: auto !important;
  }

  .h-lg-25 {
    height: 25% !important;
  }

  .h-lg-50 {
    height: 50% !important;
  }

  .h-lg-75 {
    height: 75% !important;
  }

  .h-lg-100 {
    height: 100% !important;
  }

  .h-lg-auto {
    height: auto !important;
  }

  .overflow-lg-hidden {
    overflow: hidden !important;
  }

  .overflow-lg-x-hidden {
    overflow-x: hidden !important;
  }

  .overflow-lg-y-hidden {
    overflow-y: hidden !important;
  }

  .overflow-lg-visible {
    overflow: visible !important;
  }

  .overflow-lg-x-visible {
    overflow-x: visible !important;
  }

  .overflow-lg-y-visible {
    overflow-y: visible !important;
  }

  .overflow-lg-x-auto {
    overflow-x: auto !important;
  }

  .overflow-lg-y-auto {
    overflow-y: auto !important;
  }

  .position-lg-static {
    position: static !important;
  }

  .position-lg-relative {
    position: relative !important;
  }

  .position-lg-fixed {
    position: fixed !important;
  }

  .position-lg-absolute {
    position: absolute !important;
  }

  .position-lg-sticky {
    position: sticky !important;
  }

}

/* Customized Media Queries (Min Width) */

@media screen and (min-width: 1024px) {
}

/* Customized Media Queries (Min Width) */

/* Extra large devices (large desktops, 1200px and up)*/
@media screen and (min-width: 1200px) {

  //Font Size Start

  @for $i from 0 through 50 {

    .font-size-xl-#{$i} {
      font-size: #{$i/12}rem !important;
    }

  }

  //Font Size End

  //Margin Start

  @for $i from 0 through 5 {

    .m-xl-n-#{$i} {
      margin: -#{$i/4}rem !important;
    }

    .mx-xl-n-#{$i} {
      margin-left: -#{$i/4}rem !important;
      margin-right: -#{$i/4}rem !important;
    }

    .my-xl-n-#{$i} {
      margin-top: -#{$i/4}rem !important;
      margin-bottom: -#{$i/4}rem !important;
    }

    .mt-xl-n-#{$i} {
      margin-top: -#{$i/4}rem !important;
    }

    .mr-xl-n-#{$i} {
      margin-right: -#{$i/4}rem !important;
    }

    .mb-xl-n-#{$i} {
      margin-bottom: -#{$i/4}rem !important;
    }

    .ml-xl-n-#{$i} {
      margin-left: -#{$i/4}rem !important;
    }

  }

  //Margin End

  .w-xl-5 {
    width: 5% !important;
  }

  .w-xl-10 {
    width: 10% !important;
  }

  .w-xl-15 {
    width: 15% !important;
  }

  .w-xl-20 {
    width: 20% !important;
  }

  .w-xl-25 {
    width: 25% !important;
  }

  .w-xl-30 {
    width: 30% !important;
  }

  .w-xl-33 {
    width: 33% !important;
  }

  .w-xl-35 {
    width: 35% !important;
  }

  .w-xl-40 {
    width: 40% !important;
  }

  .w-xl-45 {
    width: 45% !important;
  }

  .w-xl-50 {
    width: 50% !important;
  }

  .w-xl-55 {
    width: 55% !important;
  }

  .w-xl-60 {
    width: 60% !important;
  }

  .w-xl-65 {
    width: 65% !important;
  }

  .w-xl-66 {
    width: 66% !important;
  }

  .w-xl-70 {
    width: 70% !important;
  }

  .w-xl-75 {
    width: 75% !important;
  }

  .w-xl-80 {
    width: 80% !important;
  }

  .w-xl-85 {
    width: 85% !important;
  }

  .w-xl-90 {
    width: 90% !important;
  }

  .w-xl-95 {
    width: 95% !important;
  }

  .w-xl-100 {
    width: 100% !important;
  }

  .w-xl-auto {
    width: auto !important;
  }

  .h-xl-25 {
    height: 25% !important;
  }

  .h-xl-50 {
    height: 50% !important;
  }

  .h-xl-75 {
    height: 75% !important;
  }

  .h-xl-100 {
    height: 100% !important;
  }

  .h-xl-auto {
    height: auto !important;
  }

  .overflow-xl-hidden {
    overflow: hidden !important;
  }

  .overflow-xl-x-hidden {
    overflow-x: hidden !important;
  }

  .overflow-xl-y-hidden {
    overflow-y: hidden !important;
  }

  .overflow-xl-visible {
    overflow: visible !important;
  }

  .overflow-xl-x-visible {
    overflow-x: visible !important;
  }

  .overflow-xl-y-visible {
    overflow-y: visible !important;
  }

  .overflow-xl-x-auto {
    overflow-x: auto !important;
  }

  .overflow-xl-y-auto {
    overflow-y: auto !important;
  }

  .position-lg-static {
    position: static !important;
  }

  .position-lg-relative {
    position: relative !important;
  }

  .position-lg-fixed {
    position: fixed !important;
  }

  .position-lg-absolute {
    position: absolute !important;
  }

  .position-lg-sticky {
    position: sticky !important;
  }

}

/* Extra extra large devices (1440px and up)*/
@media screen and (min-width: 1440px) {
}

/* Extra extra extra large devices (4K and up)*/
@media screen and (min-width: 2160px) {
}

/* /MOBILE FIRST MEDIA QUERIES */


/**/


/* MIXED SCREEN MEDIA QUERIES */

@media screen and (min-width: 576px) and (max-width: 767.98px) {
}

@media screen and (min-width: 576px) and (max-width: 991.98px) {
}

@media screen and (min-width: 576px) and (max-width: 1199.98px) {
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
}

/* /MIXED SCREEN MEDIA QUERIES */


/**/


/* COMBINED MEDIA QUERIES */

@media screen and (min-width: 576px), (min-width: 768px), (min-width: 992px), (min-width: 1200px) {
}

/* /COMBINED MEDIA QUERIES */
